%%-*- mode: erlang -*-
%% vi:ft=erlang
{erl_opts, [{src_dirs, ["src"]}]}.
{deps_dir, ["deps"]}.
{deps, [
    {logger,  ".*", {git, "ssh://gitolite@git.favorit/logger",         {branch,"master"}}},
    {cowboy,  ".*", {git, "ssh://gitolite@git.favorit/cowboy",         {branch,"master"}}},
    {mq,      ".*", {git, "ssh://gitolite@git.favorit/mq",             {branch, "master"}}},
    {helper,  ".*", {git, "ssh://gitolite@git.favorit/helper",         {branch, "master"}}},
    {jsx,     ".*", {git, "ssh://gitolite@git.favorit/jsx",            {branch, "master"}}}
]}.
{ignore_cmd, [{eunit, [dbproxy]}]}.
{ignore_cmd, [{doc, [dbproxy]}]}.
{sub_dirs, ["rel"]}.



